.menu {
  position: sticky;
  top: 0;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  padding: var(--gap);

  list-style: none;
}

.menu__link {
  display: flex;
}

.menu__icon {
  min-width: 30px;
}

.menu__item:last-child {
  margin-top: auto;
}
